<div class="alert alert-warn">
  注意!以下所有项目都为必填项目
</div>
<%= form_for @client do |f| %>
  <fieldset>
  <legend>1.录入基本信息</legend>
  <div class='well well-large'>
    <%=f.label :company_name %>
    <%=f.text_field :company_name,:class=>"input-xxlarge",:placeholder=>"公司名称…"%>
    <span class="help-block">最长30个汉字.</span>

    <%=f.label :email%>
    <%=f.text_field :email,:class => "input-xlarge",:placeholder=>"a@b.com"%>
    <span class="help-block">我们将通过该EMAIL与您联系沟通.</span>
    <%=f.label :admin%>
    <%=f.text_field :admin %>
    <span class="help-block">您将通过该名称登录平台.</span>
 
    <div class="control-group clearfix">
      <div class="controls pull-left">
        <%=f.label :password%>
        <%=f.password_field :password%>
        <span class="help-block">最少六个字符,可包含数字或字母.</span>
      </div>
      <div class="controls pull-left offset1">
        <%=f.label :password_confirmation%>
        <%=f.password_field :password_confirmation%>
        <span class="help-block">用于验证您两次输入密码的正确性.</span>
      </div>
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>2.设置域名信息</legend>
  <div class='well'>
    <div class="input-prepend input-append">
      <span class="add-on"><strong>http://</strong></span>
      <%=f.text_field :subdomain%>
      <span class="add-on"><strong><%=Settings.il_platform_domain%></strong></span>
    </div>
    <span class="help-block">该地址将是您登录系统的地址.</span>
  </div>
</fieldset>
<fieldset>
  <legend>3.设置付款信息</legend>
  <div class="alert alert-info">
    <h4>coming soon!</h4>
    系统试运行，即将提供付款支持
  </div>
</fieldset>
<fieldset>
  <legend>4.建立账户信息</legend>
  <div class='well well-large'>
    <p>
    注册免费用户,您有3个月的免费试用时间,在试用期间,您最多可设置10个分理处(包括分公司),并管理它们的数据
    </p>
    <p>
    <input type="checkbox" id="cbx_confirm_term" name="cbx_confirm_term">
    <label class="checkbox inline" for="cbx_confirm_term">
      我同意IL智能物流平台的<a href='#'>使用条款</a>
    </label>
    </p>
    <p>
    <%= f.submit "点击建立账户信息",:id => 'btn_submit_register',:disabled => true,:class => 'btn btn-primary btn-large' %>
    </p>
  </div>
</fieldset>
<% end %>
